<footer class="footer">
  <div class="content has-text-centered">
    <div class="columns is-desktop is-tablet">
      <div class="column is-4 is-offset-4">
        <div class="columns is-desktop is-tablet is-mobile">
          <div class="column"><i class="fab fa-linkedin-in icon"></i></div>
          <div class="column"><i class="fab fa-github icon"></i></div>
          <div class="column"><i class="fab fa-bitbucket icon"></i></div>
          <div class="column"><i class="fas fa-file-download icon"></i></div>
        </div>
      </div>
      <div class="column is-1 is-offset-2">
        <a href="#home">Scroll Up <i class="fas fa-arrow-alt-circle-up"></i></a>
      </div>
    </div>
    <p>
      By <a>Yeshwanth Raghavendra Gollapalli</a>.
    </p>
  </div>
</footer>