.footer {
    background-color: #060b16;
    height: 100%;
    width: 100vw;
    color: white;

    .icon {
        cursor: pointer;
        font-size: 1.5rem;
    }

    a {
        color: rgb(54, 34, 168);
    }
}