<div class="landing" id="home">
  <div class="columns is-desktop is-tablet full-view">
    <div class="column is-5 center">
      <img src="../assets/administrator1.svg" class="responsive" height="300" width="300">
    </div>
    <div class="column is-6 center landing-text">
      <div class="columns is-desktop is-tablet">
        <div class="column hello">
          Hello, World !!!
        </div>
      </div>
      <div class="columns is-desktop is-tablet">
        <div class="column">
          I'm Yeshwanth <br>Raghavendra Gollapalli
        </div>
      </div>
      <div class="columns is-desktop is-tablet">
        <div class="column role">
          Full Stack Developer
        </div>
      </div>
      <div class="columns is-desktop is-tablet">
        <div class="column is-8 learn-more">
          <a href="#about">Learn More <i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-about id="about"></app-about>
<app-projects id="projects"></app-projects>
<app-contact-form></app-contact-form>
<router-outlet></router-outlet>